@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700italic);

//declaration of variables//

$color-text: #626f7f;
$color-pink: #ff0099;
$color-blue: #0bb3d0;
$color-green: #b4d433;
$color-background: #f3f1ed;
$color-border: #84b8c6;

$font-headline: 'Droid Serif', Times, serif;
$font-serif: "Times New Roman", Times, Georgia, serif;
$font-sans: Verdana, Geneva, sans-serif;

//the magic's in the mixins//

@mixin transition($property, $time, $type) {
  -webkit-transition: $property $time $type;
  -moz-transition: $property $time $type;
  -o-transition: $property $time $type;
  transition: $property $time $type;
}

@mixin flex-list {
  display: flex;
  align-content: center;
}

@mixin hidden-pipes {
  position: relative;
  margin: 1em;
  overflow: hidden;
  margin-left: 9.8%;
  margin-top: -10px;
}

@mixin uppercase-sans {
  display: inline;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10pt;
  text-transform: uppercase;
}

//the whole enchilada//

nav.primary-nav {
  @include hidden-pipes;

    &.ul {
      margin-left: -3px;
      padding: 0;
    }
}
}