@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700italic);
@media only screen and (max-width: 1024px) {
  .article9, .extra {
    visibility: hidden; } }
@media only screen and (max-width: 1024px) and (max-width: 750px) {
  .article9, .extra {
    visibility: hidden; } }
/* the whole enchilada */
body {
  font-family: "Times New Roman", Times, Georgia, serif;
  font-size: 95%;
  color: #626f7f;
  background-color: #f3f1ed; }

#content-wrapper {
  height: 100%; }

a {
  text-decoration: none;
  color: #626f7f; }
  a:hover, a.current {
    color: #ff0099; }
  a.social {
    height: 43px;
    background-image: url("images/fb-twitter.gif");
    text-indent: -9999px;
    display: inline-block; }
  a#readmore {
    background-image: url("images/read-more-off.jpg");
    text-indent: -9999px;
    position: relative;
    height: 9px;
    width: 75px;
    background-position: 0 0; }
    a#readmore:hover {
      background-image: url("images/read-more-off.jpg");
      text-indent: -9999px;
      display: inline-block;
      height: 9px;
      width: 75px;
      background-position: -77px 0;
      float: right; }

/* header */
header {
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 28px;
  background-color: #fff;
  width: 105%;
  height: 160px;
  left: -1px;
  border-bottom: solid 4pt #84b8c6;
  z-index: 9; }

#banner {
  width: 500px;
  height: 100px;
  padding: 30px 10px 15px 95px; }

.headline {
  font-family: "Droid Serif", Times, serif;
  font-weight: bold;
  font-style: italic;
  font-size: 45pt;
  color: #0bb3d0;
  position: relative; }
  .headline span {
    color: #b4d433; }
  .headline:hover {
    color: #0bb3d0; }

.primary-nav {
  position: relative;
  overflow: hidden;
  margin: -10px 1em 1em 9.8%;
  position: relative;
  left: -52px;
  width: 100%; }
  .primary-nav ul {
    margin-left: -3px;
    padding: 0; }
  .primary-nav li {
    display: inline;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 80%;
    text-transform: uppercase;
    color: #626f7f;
    border-left: 2px solid #b4d433;
    flex-grow: 1;
    flex-basis: auto;
    margin: .25em 0;
    padding: 2px 6px 2px 6px;
    text-align: center;
    -webkit-transition: all 1s ease 0.3s;
    -moz-transition: all 1s ease 0.3s;
    -o-transition: all 1s ease 0.3s;
    transition: all 1s ease 0.3s; }
    @media only screen and (max-width: 750px) {
      .primary-nav li .article9, .primary-nav li .extra {
        visibility: hidden; } }
    .primary-nav li:hover {
      background-color: #b4d433;
      -webkit-transition: all 1s ease 0s;
      -moz-transition: all 1s ease 0s;
      -o-transition: all 1s ease 0s;
      transition: all 1s ease 0s;
      margin: 5px; }
    .primary-nav li > a:hover {
      color: #fff;
      -webkit-transition: all 0.25s ease 0;
      -moz-transition: all 0.25s ease 0;
      -o-transition: all 0.25s ease 0;
      transition: all 0.25s ease 0; }

#social-external-nav {
  position: absolute;
  right: 10%;
  top: 45px; }

.CMOS {
  float: right; }

#social-fb, #social-twitter {
  float: right;
  margin-top: 16px; }

a#social-fb {
  clear: right;
  width: 45px;
  background-position: 0 0;
  margin-left: -10px; }

a#social-twitter {
  width: 45px;
  background-position: -45px 0; }

/* content */
.date, .article-date {
  display: inline;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 80%;
  text-transform: uppercase;
  color: #626f7f;
  font-style: italic; }

#content {
  box-sizing: border-box;
  margin: auto 0 auto 8.6%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start; }
  @media only screen and (max-width: 1024px) {
    #content {
      margin-left: 8.6%; } }

.copy {
  background-color: #fff;
  padding: 12px; }
  @media only screen and (max-width: 1024px) {
    .copy {
      padding: 32px 32px 26px 32px;
      width: 100%; } }

article {
  max-width: 321px;
  max-height: 324px;
  display: inline-block;
  padding: 10px 0 40px 0;
  vertical-align: top;
  margin: 10px; }
  @media only screen and (max-width: 1024px) {
    article {
      max-width: 75%;
      width: 80%;
      display: block;
      padding: 5px 0 5px 0; } }

img.thumb {
  height: 138px;
  width: 321px; }
  @media only screen and (max-width: 1024px) {
    img.thumb {
      visibility: hidden;
      height: 1px;
      width: 1px; } }

p.excerpt {
  height: 120px;
  max-width: 320px;
  padding: 5px 15px 10px 15px; }
  @media only screen and (max-width: 1024px) {
    p.excerpt {
      max-width: 560px;
      padding: 5px 15px 10px 10px; } }
  .article1 p.excerpt {
    height: 95px; }

.title {
  font-size: 20pt;
  font-weight: bold;
  line-height: 1em;
  max-width: 300px;
  color: #0bb3d0; }
  @media only screen and (max-width: 1024px) {
    .title {
      font-size: 24pt; } }

#readmore {
  position: absolute;
  bottom: 15px;
  right: 15px; }

a#readmore {
  background-image: url("images/read-more-off.jpg");
  text-indent: -9999px;
  position: relative;
  height: 9px;
  width: 75px;
  background-position: 0 0;
  float: right; }
a#readmore:hover {
  background-image: url("images/read-more-off.jpg");
  text-indent: -9999px;
  display: inline-block;
  height: 9px;
  width: 75px;
  background-position: -77px 0;
  float: right; }

/* footer */
footer {
  position: fixed;
  bottom: -1px;
  z-index: 9;
  background-color: #fff;
  height: 40px;
  width: 101%;
  left: -1px;
  right: -1px;
  border-top: solid 4pt #84b8c6; }

a.return {
  float: left;
  margin-top: 10px;
  margin-left: 125px; }
  @media only screen and (max-width: 1024px) {
    a.return {
      margin-left: 90px; } }

#copyright {
  float: right;
  margin-top: 10px;
  margin-right: 19%;
  font-size: 10pt;
  color: #a6afba; }
  @media only screen and (max-width: 1024px) {
    #copyright {
      margin-right: 11%; } }

/* blog page */
.article-header {
  height: 60px;
  margin-bottom: 40px; }

.article-title {
  font-size: 30pt;
  font-weight: bold;
  line-height: 1em;
  color: #0bb3d0;
  margin-bottom: 10px;
  margin-left: -5px; }
  @media only screen and (max-width: 1024px) {
    .article-title {
      font-size: 28pt;
      margin-bottom: 6px; } }

.blog-image {
  max-width: 100%;
  height: auto;
  margin: 20px 0 20px 36px; }
  @media only screen and (max-width: 1024px) {
    .blog-image {
      max-width: 32%;
      height: auto;
      margin: 20px 0 20px 36px; } }

.column1, .column2 {
  float: left;
  width: 35%; }
  @media only screen and (max-width: 1024px) {
    .column1, .column2 {
      float: left;
      width: 32%; } }

.column2 {
  margin: 10px 10px 10px 33px; }

aside {
  position: absolute;
  top: 400px;
  right: -35px; }
  @media only screen and (max-width: 1024px) {
    aside {
      position: absolute;
      top: -252px;
      right: 40px; } }

.related-articles, .popular-articles {
  position: relative;
  right: 124.5px;
  top: -211px; }
  @media only screen and (max-width: 1024px) {
    .related-articles, .popular-articles {
      top: 440px;
      right: 1px; } }

h2 {
  font-family: "Times New Roman", Times, Georgia, serif;
  font-style: italic;
  font-weight: bold;
  font-size: 16pt;
  color: #0bb3d0;
  position: relative;
  left: -26px; }

.side-title {
  font-size: 11pt;
  font-weight: bold;
  color: #626f7f;
  -webkit-transition: all 1s linear 0s;
  -moz-transition: all 1s linear 0s;
  -o-transition: all 1s linear 0s;
  transition: all 1s linear 0s; }

.side-title:hover {
  color: #ff0099;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s; }

.side-title span {
  font-size: 7pt;
  font-style: italic;
  text-transform: uppercase;
  color: #626f7f;
  font-family: Verdana, Geneva, sans-serif;
  line-height: 1.5em; }

.article-nav {
  position: relative;
  padding: 0; }

li.previous {
  position: absolute;
  left: 112px;
  display: inline-block;
  background-image: url("images/previous.jpg");
  text-indent: -9999px;
  height: 12px;
  width: 106px;
  background-position: 0 0;
  z-index: 2; }
  @media only screen and (max-width: 1024px) {
    li.previous {
      left: 70px;
      bottom: 116px; } }

li.previous:hover {
  position: absolute;
  left: 112px;
  display: inline-block;
  background-image: url("images/previous.jpg");
  text-indent: -9999px;
  height: 12px;
  width: 106px;
  background-position: -106px 0;
  z-index: 2; }

li.next {
  position: absolute;
  right: 25%;
  display: inline-block;
  background-image: url("images/next.jpg");
  text-indent: -9999px;
  height: 12px;
  width: 83.5px;
  background-position: 0 0;
  z-index: 2; }
  @media only screen and (max-width: 1024px) {
    li.next {
      right: 28%;
      bottom: 116px; } }

li.next:hover {
  position: absolute;
  right: 25%;
  display: inline-block;
  background-image: url("images/next.jpg");
  text-indent: -9999px;
  height: 12px;
  width: 83.5px;
  background-position: -83.5px 0;
  z-index: 2; }

.previous-title {
  position: absolute;
  bottom: -40px;
  left: 129px; }
  @media only screen and (max-width: 1024px) {
    .previous-title {
      left: 86px;
      bottom: 90px; } }

.next-title {
  position: absolute;
  bottom: -40px;
  right: 25.8%; }
  @media only screen and (max-width: 1024px) {
    .next-title {
      right: 29.2%;
      bottom: 90px; } }

h3 > a {
  font-family: "Times New Roman", Times, Georgia, serif;
  font-weight: bold;
  font-size: 16pt;
  color: #0bb3d0; }

/*# sourceMappingURL=style.css.map */
