@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700italic);

//declaration of variables//

$color-text: #626f7f;
$color-pink: #ff0099;
$color-blue: #0bb3d0;
$color-green: #b4d433;
$color-background: #f3f1ed;
$color-border: #84b8c6;

$font-headline: 'Droid Serif', Times, serif;
$font-serif: "Times New Roman", Times, Georgia, serif;
$font-sans: Verdana, Geneva, sans-serif;

$font-default: 95%;

$width-small: 750px;
$width-medium: 1024px;
$width-large: 1366px;


//the magic's in the mixins//

@mixin transition($property, $time, $type, $delay) {
  -webkit-transition: $property $time $type $delay;
  -moz-transition: $property $time $type $delay;
  -o-transition: $property $time $type $delay;
  transition: $property $time $type $delay;
}

@mixin flex-box {
  display: flex;
  align-content: center;
}

@mixin hidden-pipes {
  position: relative;
  overflow: hidden;
  margin: -10px 1em 1em 9.8%;
}

@mixin uppercase-sans {
  display: inline;
  font: {
    family: Verdana, Geneva, sans-serif;
    size: 80%; }
  text-transform: uppercase;
  color: $color-text;
}

@mixin responsive($width) {
  @if $width == wide-screens {
    @media only screen and (max-width: $width-large)
    { @content; }
  }
  @else if $width == medium-screens {
    @media only screen and (max-width: $width-medium)
    { @content; }
  }
  @else if $width == small-screens {
    @media only screen and (max-width: $width-small)
    { @content; }
  }
}

@mixin rounded($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

/* the whole enchilada */

body {
  font: {
    family: $font-serif;
    size: $font-default;
  }
  color: $color-text;
  background-color: $color-background;
}

#content-wrapper {
  height: 100%;
}

a {
  text-decoration: none;
  color: $color-text;

  &:hover, &.current {
    color: $color-pink;
  }

  &.social {
    height: 43px;
    background-image: url("images/fb-twitter.gif");
    text-indent: -9999px;
    display: inline-block;
  }

  &#readmore {
    background-image: url("images/read-more-off.jpg");
    text-indent: -9999px;
    position: relative;
    height: 9px;
    width: 75px;
    background-position: 0 0;

    &:hover {
      background-image: url("images/read-more-off.jpg");
      text-indent: -9999px;
      display: inline-block;
      height: 9px;
      width: 75px;
      background-position: -77px 0;
      float: right;
    }
  }
}

/* header */

header {
  margin-top: -10px;
  margin-left:-10px;
  margin-right: -10px;
  margin-bottom: 28px;
  background-color: #fff;
  width: 105%;
  height: 160px;
  left: -1px;
  border-bottom: solid 4pt $color-border;
  z-index: 9;
}

#banner {
  width: 500px;
  height: 100px;
  padding: 30px 10px 15px 95px;
}

.headline {
  font: {
    family: $font-headline;
    weight: bold;
    style: italic;
    size: 45pt;
  }
  color: $color-blue;
  position: relative;

  & span {
    color: $color-green;
  }
  &:hover {
    color: $color-blue;
  }
}

.primary-nav {
  @include hidden-pipes;
  position: relative;
  left: -52px;
  width: 100%;

  & ul {
    margin-left: -3px;
    padding: 0;
  }

  & li {
    @include uppercase-sans;
    border-left: 2px solid #b4d433;
    flex-grow: 1;
    flex-basis: auto;
    margin: .25em 0;
    padding: 2px 6px 2px 6px;
    text-align: center;
    @include transition (all, 1s, ease, .3s);
    }

    &:hover {
      background-color: $color-green;
      @include transition (all, 1s, ease, 0s);
      margin: 5px;
    }

    &>a:hover {
      color: #fff;
      @include transition (all, .25s, ease, 0)
    }
  }
}

#social-external-nav {
  position: absolute;
  right: 10%;
  top: 45px;
}

.CMOS {
  float: right;
}

#social-fb, #social-twitter {
  float: right;
  margin-top: 16px;
}

a#social-fb {
  clear: right;
  width: 45px;
  background-position: 0 0;
  margin-left: -10px;
}

a#social-twitter {
  width: 45px;
  background-position: -45px 0;
}

/* content */

.date, .article-date {
  @include uppercase-sans;
  font-style: italic;
}

#content {
  box-sizing: border-box;
  margin: auto 0 auto 8.6%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  @include responsive (medium-screens) {
    margin-left: 8.6%;
  }
}

.copy {
  background-color: #fff;
  padding: 12px;

  @include responsive (medium-screens) {
    padding: 32px 32px 26px 32px;
    width: 100%;
  }
}

article {
  max-width: 321px;
  max-height: 324px;
  display: inline-block;
  padding: 10px 0 40px 0;
  vertical-align: top;
  margin: 10px;

  @include responsive (medium-screens) {
    max-width: 75%;
    width: 80%;
    display: block;
    padding: 5px 0 5px 0;
  }
}

img.thumb {
  height: 138px;
  width: 321px;

  @include responsive (medium-screens) {
    visibility: hidden;
    height: 1px;
    width: 1px;
  }
}

p.excerpt {
  height: 120px;
  max-width: 320px;
  padding: 5px 15px 10px 15px;

  @include responsive (medium-screens) {
    max-width: 560px;
    padding: 5px 15px 10px 10px;
  }

  .article1 & {
    height: 95px;
  }
}

.title {
  font: {
    size: 20pt;
    weight: bold;
  }
  line-height: 1em;
  max-width: 300px;
  color: $color-blue;

  @include responsive (medium-screens) {
    font-size: 24pt;
  }
}

#readmore {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

a {

  &#readmore {
    background-image: url("images/read-more-off.jpg");
    text-indent: -9999px;
    position: relative;
    height: 9px;
    width: 75px;
    background-position: 0 0;
    float: right;
  }

  &#readmore:hover {
    background-image: url("images/read-more-off.jpg");
    text-indent: -9999px;
    display: inline-block;
    height: 9px;
    width: 75px;
    background-position: -77px 0;
    float: right;
  }
}

/* footer */

footer {
  position: fixed;
  bottom: -1px;
  z-index: 9;
  background-color: #fff;
  height: 40px;
  width: 101%;
  left: -1px;
  right: -1px;
  border-top: solid 4pt $color-border;
}

a.return {
  float: left;
  margin-top: 10px;
  margin-left: 125px;

  @include responsive(medium-screens) {
    margin-left: 90px;
  }
}

#copyright {
  float:right;
  margin-top: 10px;
  margin-right: 19%;
  font-size: 10pt;
  color: lighten($color-text, 25%);

  @include responsive(medium-screens) {
    margin-right: 11%;
  }
}

/* blog page */

.article-header {
  height: 60px;
  margin-bottom: 40px;
}

.article-title {

  font: {
      size: 30pt;
      weight: bold;
  }

    line-height: 1em;
    color: $color-blue;
    margin-bottom: 10px;
    margin-left: -5px;

    @include responsive(medium-screens) {
      font-size: 28pt;
      margin-bottom: 6px;
    }
  }

.blog-image {
  max-width: 100%;
  height: auto;
  margin: 20px 0 20px 36px;

  @include responsive(medium-screens) {
    max-width: 32%;
    height: auto;
    margin: 20px 0 20px 36px;
  }

}

.column1, .column2 {
  float: left;
  width: 35%;

  @include responsive (medium-screens) {
    float: left;
    width: 32%;
  }
}

.column2 {
  margin: 10px 10px 10px 33px;
}

aside {
  position: absolute;
  top: 400px;
  right: -35px;

  @include responsive(medium-screens) {
    position: absolute;
    top: -252px;
    right: 40px;
  }
}

.related-articles, .popular-articles {
  position: relative;
  right: 124.5px;
  top: -211px;

  @include responsive(medium-screens) {
    top: 440px;
    right: 1px;
  }
}

h2 {
  font: {

    family: "Times New Roman", Times, Georgia, serif;
    style: italic;
    weight: bold;
   size: 16pt;
  }
  color: $color-blue;
  position: relative;
  left: -26px;
}

.side-title {
  font: {
    size: 11pt;
    weight: bold;
  }
  color: $color-text;
  @include transition (all, 1s, linear, 0s);

}

.side-title:hover {
  color: $color-pink;
  @include transition (all, .3s, linear, 0s);

}

.side-title span{
  font: {
    size: 7pt;
    style: italic;
  }
  text-transform: uppercase;
  color: $color-text;
  font-family: Verdana, Geneva, sans-serif;
  line-height: 1.5em;
}

.article-nav {
  position: relative;
  padding: 0;
}

li.previous {
  position: absolute;
  left: 112px;
  display: inline-block;
  background-image: url("images/previous.jpg");
  text-indent: -9999px;
  height: 12px;
  width: 106px;
  background-position: 0 0;
  z-index: 2;

  @include responsive(medium-screens) {
    left: 70px;
    bottom: 116px;
  }
}

li.previous:hover {
  position: absolute;
  left: 112px;
  display: inline-block;
  background-image: url("images/previous.jpg");
  text-indent: -9999px;
  height: 12px;
  width: 106px;
  background-position: -106px 0;
  z-index: 2;
}

li.next {
  position: absolute;
  right: 25%;
  display: inline-block;
  background-image: url("images/next.jpg");
  text-indent: -9999px;
  height: 12px;
  width: 83.5px;
  background-position: 0 0;
  z-index: 2;

  @include responsive(medium-screens) {
    right: 28%;
    bottom: 116px;
  }
}

li.next:hover {
  position: absolute;
  right: 25%;
  display: inline-block;
  background-image: url("images/next.jpg");
  text-indent: -9999px;
  height: 12px;
  width: 83.5px;
  background-position: -83.5px 0;
  z-index: 2;
}

.previous-title {
  position: absolute;
  bottom: -40px;
  left: 129px;

  @include responsive(medium-screens) {
    left: 86px;
    bottom: 90px;
  }
}

.next-title {
  position: absolute;
  bottom: -40px;
  right: 25.8%;

  @include responsive(medium-screens) {
    right: 29.2%;
    bottom: 90px;
  }
}

h3>a {
  font-family: "Times New Roman", Times, Georgia, serif;
  font-weight: bold;
  font-size: 16pt;
  color: #0bb3d0;
}


// media queries catch-all

@include responsive(medium-screens) {

  .article9, .extra {
    visibility: hidden
  }

  @include responsive(small-screens) {

    .article9, .extra {
      visibility: hidden
    }

    .primary-nav {
      flex-direction: column;
    }
  }
}