body {
	font-family: "Times New Roman", Times, Georgia, serif;
	font-size: 11pt;
	color: #626f7f;
	background-color: #fff;
}

header {
	margin-top: 32px;
}

a {
	text-decoration: none;
	color: #626f7f;
}

a:hover, .current {
	color: #ff0099;
}


.headline {
	font-weight: bold;
	font-size: 45pt;
	color: #0bb3d0;
	margin: 32px 0px 0px 125px;
}

.headline span {
	color: #b4d433;
}

.headline:hover{
	color: #0bb3d0;
}

.flex-list {
    margin: 1em;
    overflow: hidden;
    margin-left: 120px;
    margin-top: -10px;
}

.flex-list ul {  
	margin-left: -2px;
	padding: 0;
}

li, .date {
	display: inline;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10pt;
	text-transform: uppercase;
}

.flex-list li {
	margin-right: 25px;
	border-left: 2px solid #b4d433;
	flex-grow: 1;
    flex-basis: auto;
    margin: .25em 0;
    padding: 0 1em;
    text-align: center;
}

.CMOS {
	float: right;
	margin-top: 12px;
	margin-right: 236px;
}

#social-fb, #social-twitter {
	float: right;
	margin-top: 6px;
}

a.social {
	height: 43px;
	background-image: url("images/fb-twitter.gif");
	text-indent: -9999px;
	display: inline-block;
}

a#social-fb {
	width: 45px;
	background-position: 0px 0px;
	clear: right;
	margin-left: -10px;
	margin-right: 236px;
}

a#social-twitter {
	width: 45px;
	background-position: -45px 0px;
}


.date {
	font-style: italic;
}

#content-wrapper {
	background-color: #f3f1ed;
	border-top: solid 4pt #84b8c6;
	height: 135%;
}

#content {
	margin-right: 236px;
	margin-left: 120px;
}

article {
	width: 322px;
	height: 324px;
	display: inline-block;
	padding: 10px 0px 40px 0px;
	vertical-align: top;
	margin: 20px 7px 20px 7px;
}


.copy {
	background-color: #fff;
	padding: 12px 6px 12px 6px;
	height: 210px;
}

a#readmore {
	background-image: url("images/read-more-off.jpg");
	text-indent: -9999px;
	display: inline-block;
	height: 9px;
	width: 75px;
	background-position: 0px 0px;
	float: right;
}

a#readmore:hover {
	background-image: url("images/read-more-off.jpg");
	text-indent: -9999px;
	display: inline-block;
	height: 9px;
	width: 75px;
	background-position: -77px 0px;
	float: right;
}

footer {
	position: fixed;
	bottom: -1px;
	z-index: 9;
	background-color: #fff;
	height: 40px;
	width: 105%;
	border-top: solid 4pt #84b8c6;
	margin-left: -5px;
}

a.return {
	float: left;
	margin-top: 10px;
	margin-left: 125px;
}

#copyright {
	float: right;
	margin-top: 10px;
	margin-right: 319px;
	font-size: 10pt;
	color: #aabec4;
}

.title, .article-title {
	font-size: 26pt;
	color: #0bb3d0;
	font-weight: bold;
	line-height: 1em;
}

.article-title {
	font-size: 30pt;
	width: 888px;
	margin-bottom: 10px;
}

.article-main {
	width: 890px;
}

.article-date {
	margin-bottom: 32px;
}

figure {
	float: right;
	margin: 6px 0px 20px 10px;
}

.columns {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
     -webkit-column-gap: 30px; /* Chrome, Safari, Opera */
    -moz-column-gap: 30px; /* Firefox */
    column-gap: 30px;
    -webkit-column-fill: auto; /* Chrome, Safari, Opera */
    -moz-column-fill: auto; /* Firefox */
    column-fill: auto;
}

aside {
	float: right;
	top: 100px;
}

.related-articles, .popular-articles {
	position: relative;
	right: 124.5px;
}

.related-articles {
	top: -385px;
}

.popular-articles {
	top: -380px;
}

h2 { 
	font-family: "Times New Roman", Times, Georgia, serif;
	font-style: italic;
	font-weight: bold;
	font-size: 16pt;
	color: #0bb3d0;
	position: relative;
	left: -26px;
}

.side-title {
	font-size: 11pt;
	font-weight: bold;
	color: #626f7f;
}

.side-title span{
	font-size: 7pt;
	font-style: italic;
	text-transform: uppercase;
	color: #626f7f;
	font-family: Verdana, Geneva, sans-serif;
	line-height: 2em;
}


.previous {
	position: relative;
	bottom: -360px;
	left: 125px;
	background-image: url("images/previous.jpg");
	text-indent: -9999px;
	display: inline-block;
	height: 12px;
	width: 106px;
	background-position: 0px 0px;
}

.previous:hover {
	left: 125px;
	background-image: url("images/previous.jpg");
	text-indent: -9999px;
	display: inline-block;
	height: 12px;
	width: 106px;
	background-position: -106px 0px;
}

.next {
	position: relative;
	bottom: -279px;
	left: 925px;
	background-image: url("images/next.jpg");
	text-indent: -9999px;
	display: inline-block;
	height: 12px;
	width: 83.5px;
	background-position: 0px 0px;
}

.next:hover  {
	background-image: url("images/next.jpg");
	text-indent: -9999px;
	display: inline-block;
	height: 12px;
	width: 83.5px;
	background-position: -83.5px 0px;
}

h3 { 
	font-family: "Times New Roman", Times, Georgia, serif;
	font-style: italic;
	font-weight: bold;
	font-size: 16pt;
	color: #0bb3d0;
	position: relative;
}

.previous-title, .next-title {
	position: relative;
	bottom: -360px;
}

.previous-title {
	position: relative;
	left: 125px;
	bottom: -340px;
}

.next-title {
	position: relative;
	left: 820px;
	bottom: -260px;
}