$orange-light: #F0CF94;
$orange-dark: #E9AC81;
$blue-light: #B9D3F1;
$blue-middle: #A3B8D7;
$blue-dark: #1D163F;

//test space styling



body {
  font: {
    family: Arvo, "Palatino Linotype", "Book Antiqua", Palatino, serif;
    size: 20pt;
  }
  background-color: $blue-dark;
}

input, button {
  outline: none;
  border: none;
  padding: 15px;
  font: {
    family: Arvo, "Palatino Linotype", "Book Antiqua", Palatino, serif;
    weight: bold;
  }
  color: $blue-dark;
  width: 105%;
  margin-left: -2%;
}

button {
  position: absolute;
  background-color: $orange-light;
}

.active {
  background-color: $orange-light;
}

.passive {
  background-color: $blue-light;
}

input{
  //
  //&::-webkit-input-placeholder {
  //  color: $blue-dark;
  //}
  //
  //&:-moz-placeholder { /* Firefox 18- */
  //  color: $blue-dark;
  //}
  //
  //&::-moz-placeholder {  /* Firefox 19+ */
  //  color: $blue-dark;
  //}
  //
  //&:-ms-input-placeholder {
  //  color: $blue-dark;
  //}

}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}