
// variables


$orange-light: #F0CF94;
$orange-dark: #E9AC81;
$blue-light: #B9D3F1;
$blue-middle: #A3B8D7;
$blue-dark: #1D163F;

$font-serif: Arvo, "Palatino Linotype", "Book Antiqua", Palatino, serif;
$font-sans: Futura, 'Trebuchet MS', Arial, sans-serif;

$width-small: 667px;
$width-medium: 1024px;
$width-large: 1366px;


// mixins


@mixin responsive($width) {
  @if $width == wide-screens {
    @media only screen and (max-width: $width-large)
    { @content; }
  }
  @else if $width == medium-screens {
    @media only screen and (max-width: $width-medium)
    { @content; }
  }
  @else if $width == small-screens {
    @media only screen and (max-width: $width-small)
    { @content; }
  }
}


// main content



#content {
  background-color: $blue-light;
  text-decoration: none;
  text-align: left;
}

body {
  font: {
    family: $font-serif;
    size: 20pt;
  }
  background-color: $blue-dark;
  width: 100%;
  margin: 0;
}

input, #add_item {
  outline: none;
  border: none;
  border-radius: 0;
  padding: 20px 20px 20px 24px;
  width: 100%;
  margin-left: 0;
  background-color: $blue-light;

  font: {
    family: $font-serif;
    weight: bold;
    size: 10pt;
  }
  color: $blue-dark;

  @include responsive(small-screens) {
    margin-left: -1%;
    width: 105%;
    height: 10px;
  }
}

ul {
  list-style: none;
  width: 102%;
  margin-left: -1%;

  @include responsive (small-screens) {
  margin-top: 45px;
}

.listItem {
  margin-top: -5px;
  padding: 24px;
}

nav li {
  margin: 10px 10px 10px 0px;
  padding: 10px;
  text-transform: uppercase;
  font: {
    family: $font-sans;
    weight: bold;
  }
}

a {
  text-decoration: none;
  color: $blue-dark;

}

#add_item {
  position: fixed;
  background-color: $orange-dark;
  bottom: 0px;
  z-index: 2;
}

.active {
  background-color: $orange-light;
}

.passive {
  background-color: $blue-light;
}

.blue-middle {
  background-color: $blue-middle;
}

#list_content {
  position: absolute;
  z-index: 0;
  margin-left: -50px;
}

input{
  //
  //&::-webkit-input-placeholder {
  //  color: $blue-dark;
  //}
  //
  //&:-moz-placeholder { /* Firefox 18- */
  //  color: $blue-dark;
  //}
  //
  //&::-moz-placeholder {  /* Firefox 19+ */
  //  color: $blue-dark;
  //}
  //
  //&:-ms-input-placeholder {
  //  color: $blue-dark;
  //}

}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}


#new_list, #generate_new_list {
  position: fixed;
  top: 42px;
  padding-top: 30px;
}

#add_item {
  position: fixed;
  bottom: 0;
  padding-bottom: 40px;
}

#wrapper {

  position: relative;
  height: 80%;

  @include responsive(small-screens) {
    position: relative;
    top: 94px;
  }
}

header {
  width: 100%;
  background-color: $blue-dark;
  z-index: 8;
  position: fixed;
}

#back_button {
  color: #fff;
  position: fixed;
  left: 6px;
  padding: 8px 5px 5px 8px;
  outline: none;
  border: none;
  background-color: $blue-dark;
  z-index: 9;
}


//Mobile specific stylings


@include responsive(small-screens) {

  #new_list {
    margin-top: -20px;
  }
}

//  formstone stylings

#handle {
  position: fixed;
  text-align: left;
  width: 100px;
  top: 0px;
  right: -65px;
  margin: 0 20px 20px 0;
  color: #fff;
  background-color: $blue-dark;
  z-index: 9;
  font: {
    weight: normal;
    family: $font-sans;
    size: 16pt;
  }

  @include responsive(small-screens) {
    font: {
      size: 12pt;
    }
    padding: 10px 5px 10px 10px;
  }
}